@import "tailwindcss";

body{
  background-color: #333;
  
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 8vw;
  text-decoration: underline;
  font-weight: bolder;
  text-wrap: nowrap;

}

