@import "tailwindcss";


body{
  background-color: #333;
}

input,button{
  padding: 10px 20px;
  font-size: 4vw;
  border:5px solid #fff;
  margin-bottom: 4vh;
}
button{
  background-color: burlywood;
  font-weight: 700;
}