body{
  background-color: #333;
  font-size: 4vw;
}

button{
  border:solid 2px white;
  font-size: 5vh;
  padding: 1vw;
  background-color: darkgoldenrod;
}

img{
  height: 500px;
  width: 500px;
  object-fit: cover;
  
}